body {
    margin: 0;
    background: #585858;
    font-family: "Inter", sans-serif; 
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url("./fonts/InterLight.ttf") format("ttf");
}

h1 {
    margin: 0;
    color: #FFFFFF;
    text-align: center;
    font-size: 40px;
}

.container {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input {
    height: 40px;
    text-align: center;
    margin-top: 16px;
    border-radius: 8px;
    border: transparent;
}

.button {
    height: 40px;
    border-radius: 8px;
    border: transparent;
    font-family: "Inter", sans-serif;
    font-size: 20px;
}

.button:hover {
    background: lightskyblue;
}

.list {
    text-decoration: none;
    padding: 0;
    margin: 18px 0 0 0;
}

.list-item {
    list-style-type: none;
    width: 100%;
    height: 60px;
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 30px 0 14px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
}

.button-ok {
    height: 30px;
    background: green;
    color: white;
    border: transparent;
    border-radius: 5px;
    padding: 0 10px;
}

.red {
    background: red;
}
